In [33]:
import pandas as pd

In [34]:
# Load the dataset with a specified encoding
data = pd.read_csv('biology_summarization_example.csv', encoding='ISO-8859-1')

In [35]:
# Display first few rows
print(data.head())

                                           Long Text  \
0  Issues pertaining to Biology. Understanding bi...
1  In accordance with different criteria we can s...
2  Physical and chemical properties of water impo...
3  Carbohydrates\nMost abundant group of organic ...
4  Lipids\nÂ•Diverse group of hydrophobic molecule...

                                             Summary  \
0  Biological diversity refers to the variety of ...
1  Living organisms show vast diversity in size, ...
2  Water is an essential molecule for life due to...
3  Carbohydrates are the most abundant organic co...
4  Lipids are a diverse group of hydrophobic mole...

                                            Keywords Unnamed: 3
0  Biological diversity,  Species, Genes, Ecosyst...        NaN
1  Diversity, Size, Shape, Form, Habitat, Metabol...        NaN
2  Water molecule, Polarity, Hydrogen bonds, Cohe...        NaN
3  Carbohydrates, Monosaccharides, Disaccharides,...        NaN
4  Lipids, Fats, Phospholipids, Saturated fats, U...        NaN

In [36]:
print(data.info())  # Check data info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Long Text   499 non-null    object
 1   Summary     499 non-null    object
 2   Keywords    498 non-null    object
 3   Unnamed: 3  1 non-null      object
dtypes: object(4)
memory usage: 15.7+ KB
None

In [37]:
print(data.describe())

                                                Long Text  \
count                                                 499
unique                                                497
top     The Interior Uses of Plants\nBACKGROUND AND ST...
freq                                                    2

                                                  Summary  \
count                                                 499
unique                                                497
top     Soil nutrients are critical for plant growth, ...
freq                                                    2

                                                 Keywords  \
count                                                 498
unique                                                497
top     soil nutrients, macronutrients, micronutrients...
freq                                                    2

                                               Unnamed: 3
count                                                   1
unique                                                  1
top     Cell Cycle, Mitosis, Interphase, Mitotic Phase...
freq                                                    1

In [38]:
#printData Columns
print(data.columns)

Index(['Long Text', 'Summary', 'Keywords', 'Unnamed: 3'], dtype='object')

In [39]:
#Drop the unnamed unnecessary column
data = data.drop(columns=['Unnamed: 3'])

In [40]:
#print Data Columns after the deletion
print(data.columns)

Index(['Long Text', 'Summary', 'Keywords'], dtype='object')

In [41]:
#Check for null values
data.isnull().sum()

Long Text    0
Summary      0
Keywords     1
dtype: int64

In [42]:
#Remove unwanted characters, space, special characters
import re

# Function to standardize text: convert to lowercase, remove irrelevant symbols
def standardize_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove irrelevant symbols (e.g. unusual bullet points)
    text = re.sub(r'[Â¦]', '', text)
    # Remove any remaining special characters (e.g., non-alphanumeric symbols)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# Apply the function to standardize the 'Long Text' and 'Summary' columns
data['Long Text'] = data['Long Text'].apply(standardize_text)
data['Summary'] = data['Summary'].apply(standardize_text)

# Display a sample to verify the standardization process
data[['Long Text', 'Summary']].head()

,Long Text,Summary
0,issues pertaining to biology understanding bio...,biological diversity refers to the variety of ...
1,in accordance with different criteria we can s...,living organisms show vast diversity in size s...
2,physical and chemical properties of water impo...,water is an essential molecule for life due to...
3,carbohydrates most abundant group of organic c...,carbohydrates are the most abundant organic co...
4,lipids diverse group of hydrophobic molecules ...,lipids are a diverse group of hydrophobic mole...

In [43]:
# Check and remove duplicates on columns 'Long Text' and 'Summary' 
data_cleaned = data.drop_duplicates(subset=['Long Text', 'Summary'])

# Display the number of rows before and after removing duplicates
original_count = data.shape[0]
cleaned_count = data_cleaned.shape[0]

original_count, cleaned_count

(499, 499)

In [44]:
# Check for missing values in the essential columns 'Long Text' and 'Summary'
missing_long_text = data['Long Text'].isnull().sum()
missing_summary = data['Summary'].isnull().sum()

# Display the count of missing values in each essential column
missing_long_text, missing_summary

(0, 0)

In [45]:
# Select only 'Long Text' and 'Summary' columns and rename the headers to lowercase
data_final = data_cleaned[['Long Text', 'Summary']].rename(columns={'Long Text': 'long text', 'Summary': 'summary'})

# Save this final cleaned dataset to a new CSV file
output_path_final = 'bio_summary_final.csv'
data_final.to_csv(output_path_final, index=False)

output_path_final

'bio_summary_final.csv'